.calcH1{
    text-transform: uppercase;
    padding-bottom: 20px;
}

.calcH4{
    padding-bottom: 10px;
}

.ageBtn{
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 20px;
    background-color: #1F1B24;
    cursor: pointer;
    transition: 0.2s;
}

.ageBtn:hover{
   color: black;
   background-color: white;
}

.ageInput{
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #1F1B24;
}

.resultsLabelH3{
    margin-bottom: 10px;
}

.results{
    text-align: left;
}

.results h4{
    margin-bottom: 10px;
}

.returnLink{
    margin-top: 25px;
    font-size: 20px;
}

@media(orientation: portrait){
    .calcH1{
        margin-top: 30px;
    }
}