@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Condensed', arial, sans-serif;
    color: white;
  }
  
  .App{
    min-height: 100vh;
    min-width: 300px;
    background-color: #1F1B24;
  }