.planetLiContainer{
    width: 20%;
    margin: 0 15px;
    margin-bottom: 70px;
}

.LiPlanetMain{
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: uppercase;
    border: 3px darkcyan solid;
    border-radius: 30%;
    transition: 0.2s;
}

.LiPlanetColor1{
    color: white;
}

.LiPlanetColor2{
    color: red;
}


.LiPlanetMain:hover{
    cursor: pointer;
    color: yellow;
    transform: translate(10px);
}

.divInLi{
    border: 3px solid yellow;
    border-radius: 10%;
    height: 200px;
}

.divInLiVis{
    visibility: visible;
}

.divInLiNoVis{
    visibility: hidden;
}
