.LiPlanetMain{
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    text-transform: uppercase;
    transition: 0.2s;
}

.LiPlanetColor1{
    color: white;
}

.LiPlanetColor2{
    color: red;
}


.LiPlanetMain:hover{
    cursor: pointer;
    color: yellow;
    transform: translate(10px);
}

.divInLi{
    border: 3px solid yellow;
}

.divInLiVis{
    visibility: visible;
}

.divInLiNoVis{
    visibility: hidden;
}
