.planetLiContainer{
    width: 20%;
    min-width: 350px;
    margin: 0 15px;
    margin-bottom: 10px;
}

.LiPlanetMain{
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    border: 3px darkcyan solid;
    border-radius: 30%;
    transition: 0.2s;
}

.LiPlanetColor1{
    background-color: #1F1B24;
}

.LiPlanetColor2{
    background-color: darkcyan;
}


.LiPlanetMain:hover{
    cursor: pointer;
    transform: translate(10px);
}

.divInLi{
    border: 3px solid yellow;
    border-radius: 10%;
    height: 260px;
}

.divInLiVis{
    visibility: visible;
}

.divInLiNoVis{
    visibility: hidden;
}

.divInLi p{
    text-align: left;
    padding: 5px;
    padding-left: 10px;
}

.divInLi p span{
   font-weight: bold;
}

@media(orientation: portrait) and (min-width: 350px){
    .planetLiContainer{
        width: 80%; 
    }
}

@media(min-width: 675px){
    .planetLiContainer{
        width: 45%; 
    }
}

@media(orientation: landscape) and (min-width: 1050px){
    .planetLiContainer{
        width: 30%; 
    }
}

@media(orientation: landscape) and (min-width: 1400px){
    .planetLiContainer{
        width: 15%; 
    }
}