.H1simulation{
  text-transform: uppercase;
}

.dots{
  text-align: center;
  margin-top: 250px;
  margin-bottom: 300px;
}
  
.dot{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sun{
  height: 40px;
  width: 40px; 
  background-color: yellow;
}

  @keyframes spinMercury {
    from {
      transform: rotate(0deg) translate(60px);
    }
    to {
      transform: rotate(360deg) translate(60px);
    }
  }

  @keyframes spinVenus {
    from {
      transform: rotate(0deg) translate(90px);
    }
    to {
      transform: rotate(360deg) translate(90px);
    }
  }

  @keyframes spinEarth {
    from {
      transform: rotate(0deg) translate(120px);
    }
    to {
      transform: rotate(360deg) translate(120px);
    }
  }

  @keyframes spinMars {
    from {
      transform: rotate(0deg) translate(150px);
    }
    to {
      transform: rotate(360deg) translate(150px);
    }
  }
  @keyframes spinJupiter {
    from {
      transform: rotate(0deg) translate(180px);
    }
    to {
      transform: rotate(360deg) translate(180px);
    }
  }

  @keyframes spinSaturn {
    from {
      transform: rotate(0deg) translate(210px);
    }
    to {
      transform: rotate(360deg) translate(210px);
    }
  }
  @keyframes spinUranus {
    from {
      transform: rotate(0deg) translate(240px);
    }
    to {
      transform: rotate(360deg) translate(240px);
    }
  }

  @keyframes spinNeptune {
    from {
      transform: rotate(0deg) translate(270px);
    }
    to {
      transform: rotate(360deg) translate(270px);
    }
  }
  
  .mercury{
    background-color: grey;
    animation: spinMercury 3s linear infinite; 
  }

  .venus{
    background-color: brown;
    animation: spinVenus 4s linear infinite; 
  }

  .earth{
    background-color: greenyellow;
    animation: spinEarth 5s linear infinite;
  }

  .mars{
    background-color: red;
    animation: spinMars 6s linear infinite; 
  }

  .jupiter{
    background-color: orangered;
    animation: spinJupiter 7s linear infinite; 
  }
  
  .saturn{
    background-color: orange;
    animation: spinSaturn 8s linear infinite; 
  }

  .uranus{
    background-color: aqua;
    animation: spinUranus 9s linear infinite; 
  }

  .neptune{
    background-color: blue;
    animation: spinNeptune 10s linear infinite; 
  }

  .line{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    border-top: 6px solid #ccc;
    transform: translate(-50%, -50%);
  }

  @media(orientation: landscape) and (max-width: 1200px){
    .H1simulation{
      margin-top: 50px;
    }
  }

  @media(orientation: portrait){

    .H1simulation{
      margin-top: 50px;
    }

    .mercury{
      animation: spinMercuryP 3s linear infinite; 
    }
  
    .venus{
      animation: spinVenusP 4s linear infinite; 
    }
  
    .earth{
      animation: spinEarthP 5s linear infinite;
    }
  
    .mars{
      animation: spinMarsP 6s linear infinite; 
    }
  
    .jupiter{
      animation: spinJupiterP 7s linear infinite; 
    }
    
    .saturn{
      animation: spinSaturnP 8s linear infinite; 
    }
  
    .uranus{
      animation: spinUranusP 9s linear infinite; 
    }
  
    .neptune{
      animation: spinNeptuneP 10s linear infinite; 
    }

    @keyframes spinMercuryP {
      from {
        transform: rotate(0deg) translate(40px);
      }
      to {
        transform: rotate(360deg) translate(40px);
      }
    }
  
    @keyframes spinVenusP {
      from {
        transform: rotate(0deg) translate(50px);
      }
      to {
        transform: rotate(360deg) translate(50px);
      }
    }
  
    @keyframes spinEarthP {
      from {
        transform: rotate(0deg) translate(60px);
      }
      to {
        transform: rotate(360deg) translate(60px);
      }
    }
  
    @keyframes spinMarsP {
      from {
        transform: rotate(0deg) translate(70px);
      }
      to {
        transform: rotate(360deg) translate(70px);
      }
    }
    @keyframes spinJupiterP {
      from {
        transform: rotate(0deg) translate(80px);
      }
      to {
        transform: rotate(360deg) translate(80px);
      }
    }
  
    @keyframes spinSaturnP {
      from {
        transform: rotate(0deg) translate(90px);
      }
      to {
        transform: rotate(360deg) translate(90px);
      }
    }
    @keyframes spinUranusP {
      from {
        transform: rotate(0deg) translate(100px);
      }
      to {
        transform: rotate(360deg) translate(100px);
      }
    }
  
    @keyframes spinNeptuneP {
      from {
        transform: rotate(0deg) translate(110px);
      }
      to {
        transform: rotate(360deg) translate(110px);
      }
    }
}